---
import { Picture } from 'astro:assets'
import heroFullWidthOne from '../assets/hero-full-width-one.jpg'
import heroFullWidthTwo from '../assets/hero-full-width-two.jpg'
import heroFullWidthThree from '../assets/hero-full-width-three.jpg'
import heroFullWidthFour from '../assets/hero-full-width-four.jpg'
---

<div class="carousel">
  <Picture
    class="carousel-image active"
    src={heroFullWidthOne}
    formats={['avif', 'webp']}
    data-image="1"
    alt="Person sitting on a bench in Joshua Tree National Park"
  />
  <Picture
    class="carousel-image"
    src={heroFullWidthTwo}
    formats={['avif', 'webp']}
    data-image="2"
    alt="Person standing on the grass at night with the backdrop of the moon"
  />
  <Picture
    class="carousel-image"
    src={heroFullWidthThree}
    formats={['avif', 'webp']}
    data-image="3"
    alt="New York City lights at night"
  />
  <Picture
    class="carousel-image"
    src={heroFullWidthFour}
    formats={['avif', 'webp']}
    data-image="4"
    alt="A single banana on a pink background"
  />
</div>

<style>
  /* TODO: 
    Can this be full width?
    Full width creates a horizontal scrolling bug
    Maybe as a background image?
    See: https://stackoverflow.com/questions/37589386/how-to-have-a-full-width-image-in-a-div-that-has-padding
  */

  .carousel,
  .carousel-image {
    border-radius: var(--border-radius-card);
  }

  .carousel {
    position: relative;
    height: 60vh;
    overflow: hidden;
  }

  .carousel-image {
    position: absolute;
    top: 0;
    object-fit: cover;
    height: 100%;
    opacity: 0;
    transition: opacity var(--transition-long);
  }

  .carousel-image.active {
    opacity: 1;
  }
</style>

<script>
  // Rotate through images
  setInterval(() => {
    const allImages = document.querySelectorAll('.carousel-image')
    const activeImage = document.querySelector('.carousel-image.active')
    const activeImageNumber = parseInt(activeImage?.getAttribute('data-image') || '1')
    const nextImageNumber = activeImageNumber === allImages.length ? 1 : activeImageNumber + 1
    const nextImage = document.querySelector(`.carousel-image[data-image="${nextImageNumber}"]`)

    activeImage?.classList.remove('active')
    nextImage?.classList.add('active')
  }, 4000)
</script>
