---
import Icon from 'astro-icon'

export interface Props {
  title: string
  description: string
  icon: string
  ctaText?: string
  ctaLink?: string
  backgroundColor?: string | null
  class?: string
}

const {
  title,
  description,
  icon,
  ctaText,
  ctaLink,
  backgroundColor,
  class: className,
} = Astro.props
---

<article
  class:list={[className, 'info-card']}
  style={`background-color: ${backgroundColor || 'var(--color-green-100)'};`}
>
  <Icon name={icon} />
  <h3>{title}</h3>
  <p>{description}</p>

  {
    ctaText && ctaLink && (
      <a class="site-link bold" href={ctaLink}>
        {ctaText}
      </a>
    )
  }
</article>

<style>
  .info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 400px;
    height: 400px;
    padding: 2rem;
    text-align: center;
    border-radius: var(--border-radius-card);
  }

  .info-card [astro-icon] {
    width: 2rem;
    height: 2rem;
    stroke: var(--color-green-200);
  }

  .info-card h3 {
    font-size: var(--size-base);
  }

  .info-card p {
    font-size: var(--size-xs);
  }
</style>
