---
export interface Props {
  title: string
  subtitle: string
  bodyText?: string
  ctaLink?: string
  ctaText?: string
  class?: string
}

const { title, subtitle, bodyText, ctaLink, ctaText, class: className } = Astro.props
---

<article class:list={['text-content', className]}>
  <h2>{title}</h2>
  <p>{subtitle}</p>
  <p>{bodyText}</p>
  {
    ctaText && ctaLink && (
      <a class="site-cta" href={ctaLink}>
        {ctaText}
      </a>
    )
  }
</article>

<style>
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 650px;
    text-align: center;
  }

  .text-content h2 {
    font-family: var(--font-body);
    font-size: clamp(var(--size-xs), 2vw, var(--size-sm));
    letter-spacing: var(--letter-spacing-large);
    text-transform: uppercase;
  }

  .text-content p:first-of-type {
    font-family: var(--font-heading);
    font-size: clamp(var(--size-lg), 5vw, var(--size-xl));
  }

  .text-content .site-cta {
    margin-top: 1rem;
  }
</style>
